{% extends "_base.html" %} {% block title %}{{ term.name }} | {{ config.title
}}{% endblock title %} {% block head %}
<!-- Primary Meta Tags -->
<meta
  name="description"
  content="{{ term.name | title }} | {{ config.title }}"
/>

<!-- Open Graph / Facebook -->
<meta
  property="og:title"
  content="{{ term.name | title }} | {{ config.title }}"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ term.permalink | safe }}" />

<!-- Twitter -->
{% endblock head %} {% block content %}
{% set taxonomy_mode = config.extra.taxonomy_mode | default(value="tags") %}
{% set taxonomy_section_enabled = config.extra.sections.tags | default(value=true) %}
{% if taxonomy_section_enabled and taxonomy_mode != "none" %}
<main class="article-list">
  <article class="article-block title-block">
    <h2 class="heading">{% if taxonomy_mode == "tags" %}<span class="hash">#</span>{% endif %}{{ term.name }}</h2>
    <aside class="page">
      Page {{ paginator.current_index }} / {{ paginator.number_pagers }}
    </aside>
  </article>
  {% set content_lang = config.extra.content_lang | default(value="", boolean=true) %}
  {% for post in paginator.pages %} {{<article_block post={post} taxonomy_mode={taxonomy_mode} taxonomy_enabled={taxonomy_section_enabled} content_lang={content_lang}/>}} {%
  endfor %}

  <div class="pagination-footer">
    {% if paginator.previous %}
    <a href="{{ paginator.previous }}" class="prev-link">← Prev</a>
    {% endif %} {{<paginator_block paginator={paginator}/>}} {% if paginator.next %}
    <a href="{{ paginator.next }}" class="next-link">Next →</a>
    {% endif %}
  </div>
</main>
{% endif %}
{% endblock content %}
